.viewer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}

.viewer .stepCounter {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-500);
    border-radius: 0 0 8rem 8rem;
    width: 9rem;
    height: 4.5rem;
    color: var(--color-text-dark);
}

.viewer .stepCounter span:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
}

.viewer .stepCounter span:nth-child(2) {
    font-size: 30px;
    line-height: 1rem;
}

.viewer .step {
    font-size: 128px;
    font-weight: bolder;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--color-neutral-600);
}

.step .from{
    color: var(--color-neutral-700);
}

.step .arrow,
.step .to {
    font-size: 64px;
}

.stepControls {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

.stepControls button {
    background-color: transparent;
    border: none;
    font-size: 48px;
    cursor: pointer;
    transition: color 0.1s ease-in;
}

.stepControls .previousButton {
    color: var(--color-secondary-800);
}

.stepControls button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.stepControls .previousButton {
    color: var(--color-secondary-800);
}
.stepControls .previousButton:hover {
    color: var(--color-secondary-700);
}
.stepControls .previousButton:active {
    color: var(--color-secondary-900);
}

.stepControls .nextButton {
    color: var(--color-primary-400);
}
.stepControls .nextButton:hover {
    color: var(--color-primary-300);
}
.stepControls .nextButton:active {
    color: var(--color-primary-500);
}

@media screen and (max-width: 600px) {
    .viewer .step {
        font-size: 80px;
    }

    .step .arrow,
    .step .to {
        font-size: 40px;
    }

    .stepControls button {
        font-size: 28px;
    }
}