.stringArtForm {
    border-radius: var(--radius);
    color: var(--color-text-dark);
    padding: calc(var(--padding) * 3);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: var(--spacing-2) auto var(--spacing-2) auto;
}

.hide {
    display: none;
}