#root > :nth-child(3) {
    margin-top: var(--spacing-3);
}

.toast-container {
    --toastify-color-light: var(--color-text-light);
    --toastify-color-dark: var(--color-text-dark);
    --toastify-color-info: var(--color-secondary-500);
    --toastify-color-success: var(--color-success-border);
    --toastify-color-warning: var(--color-warning-border);
    --toastify-color-error: var(--color-error-text);
    --toastify-color-transparent: rgba(255, 255, 255, 0.7);
}

header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

header>* {
    padding: var(--padding);
    color: var(--color-text-light);
}

header {
    background-color: var(--color-neutral-600);
    opacity: 0.88;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 10;
}

main {
    background-color: var(--color-neutral-100);
    opacity: 0.8;
    color: var(--color-neutral-700);
    padding: 0% !important;
    position: relative;
    margin-block: var(--spacing-4) var(--spacing-3);
}

footer {
    background-color: var(--color-neutral-600);
    opacity: 0.8;
    color: var(--color-text-light);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: var(--spacing-1);
    z-index: 10;
}
p > a {
    color: var(--color-text-light);
}
@media screen and (max-width: 600px) {
    footer {
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
    }
}