header {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: space-between;
}

header>* {
    padding: 10px;
    color: var(--color-text-light);
}

header {
    background-color: var(--color-neutral-600);
    opacity: 0.88;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 10;
}

main {
    background-color: var(--color-neutral-200);
    opacity: 0.8;
    color: var(--color-neutral-700);
    padding-top: 0% !important;
}

footer {
    background-color: var(--color-neutral-700);
    opacity: 0.8;
    color: var(--color-text-light);
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    z-index: 10;
}
p > a {
    color: var(--color-text-light);
}