@font-face {
    font-family: "TitleFont";
    src: url(/fonts/Patua_One/PatuaOne-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "TextFont";
    src: url(/fonts/Baloo_2/Baloo2-VariableFont_wght.ttf) format("truetype");
}

:root {
    --color-primary-100: #FEF9CA;
    --color-primary-200: #FCF495;
    --color-primary-300: #FBEE60;
    --color-primary-400: #FAE82B;
    --color-primary-500: #E8D506;
    --color-primary-600: #BAAA05;
    --color-primary-700: #8B8004;
    --color-primary-800: #5D5502;
    --color-primary-900: #2E2B01;
    --color-secondary-100: #CAE8FE;
    --color-secondary-200: #95D1FC;
    --color-secondary-300: #60BAFB;
    --color-secondary-400: #2BA4FA;
    --color-secondary-500: #068AE8;
    --color-secondary-600: #056EBA;
    --color-secondary-700: #04538B;
    --color-secondary-800: #02375D;
    --color-secondary-900: #011C2E;
    --color-tertiary-100: #DFCAFE;
    --color-tertiary-200: #C095FC;
    --color-tertiary-300: #A060FB;
    --color-tertiary-400: #812BFA;
    --color-tertiary-500: #6406E8;
    --color-tertiary-600: #5005BA;
    --color-tertiary-700: #3C048B;
    --color-tertiary-800: #28025D;
    --color-tertiary-900: #14012E;
    --color-neutral-100: #E3E2E6;
    --color-neutral-200: #C8C4CD;
    --color-neutral-300: #ACA7B4;
    --color-neutral-400: #90899B;
    --color-neutral-500: #756D81;
    --color-neutral-600: #5E5767;
    --color-neutral-700: #46414D;
    --color-neutral-800: #2F2C34;
    --color-neutral-900: #17161A;
    --color-error-border: #FEDCD7;
    --color-error-background: #FFEAEA;
    --color-error-text: #640E02;
    --color-warning-border: #F1B527;
    --color-warning-background: #FEF2D7;
    --color-warning-text: #02643D;
    --color-success-border: #27F1A0;
    --color-success-background: #D7FEEE;
    --color-text-dark: #2F2F2F;
    --color-text-light: #F9F9F9;
    /** Metrics **/
    --padding: 10px;
    --radius: 15px;
}

* {
    font-family: "TextFont", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "TitleFont", sans-serif;
    color: var(--color-text-dark);
}

.hide {
    display: none;
}

#root {
    background: linear-gradient(30deg, #CAE8FE 0%, #FEF9CA 58%, #DFCAFE 100%);
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#root > * {
    padding: var(--padding);
    width: 60%;
}